DATABASE_URL="postgresql://user:user@localhost:5432/dev?schema=public"

BETTER_AUTH_SECRET=qwertyUIopAsdfghJKLzxcvbNm
BETTER_AUTH_URL=http://localhost:3000 

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
